<!--Top Navigation-->
<div class="headr">
  <div class="heard-con">
    <img src="../../../assets/images/logo.jpg" style="margin-top: 7px;float: left;position: absolute;width: 60px;margin-top: 20px;">
    <div class="headr-nav">
      <ul>
        <li><a href="/" style="color: #4AB344"><span style="color: #4AB344">Home Page</span></a> </li>
        <li><a href="/listPage">List Page</a> </li>
      </ul>
      <ul>
        <li><a href="/adminPage">Admin Page</a></li>
      </ul>
    </div>
  </div>
</div>
<!--Top Navigation Finish-->
<!--banner image-->
<div class="her-banner">
</div>
<!--banner image finish-->
<!--Home page content-->



<div class="content">
  <!--Recommended section-->
  <div class="recommand clear">
    <div class="rec-nav clear">
      <h2>Fundraising  <span>Recommendation</span></h2>
    </div>
    <div class="rec-cont clear">
      <div class="rec-left">
        <div class="container">
          <div class="story">
            <p>Here, we share a story about how we help communities and change people's lives. This is a true story that showcases our mission and values.</p>
          </div>

          <div class="contact">
            <p>If you have any questions or would like to join our mission, please contact us through the following methodsï¼</p>
            <p>Email: 123@126.com</p>
            <p>Phone: (123) 456-7890</p>
            <p>Address: xxxxx</p>
          </div>
        </div>
        <p>Copyright &copy; 2024 Wzy Non Profit Organization</p>
        <img src="../../../assets/images/rc-1.jpg" style="width: 315px; margin-top: 20px;">
      </div>
      <div class="rec-right" id="rec-right">

      </div>
    </div>
  </div>
  <!--Recommended section-->
</div>
