
.headr{
    width: 100%;
    height: 107px;
}
.heard-con{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 107px;

}
.headr-nav{
    float: left;
    position: absolute;
    width: 600px;
    height: 107px;
    left: 25%;

}
.headr-nav li{
    float: left;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 25px;
}
.headr-nav li a{
    color: #222222;
}
.sptopfoot {
    clear: both;
    background:#ffffff;
    height: 2px;
    position: relative;
}
.spbottom {
    background:#4AB344;
    height: 2px;
    width:90px;
    position: absolute;
    top: 0;
    left: 20px;
    overflow: hidden;
    transition: all 1s;
}
.headr-right{
    position: relative;
    float: right;
    width: 154px;
    height:42px;
    margin-top: 30px;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    border: 1px solid #E6E6E6;

}
.hr-car{
    position: absolute;
    width: 300px;
    height: 140px;
    right:-1px;
    line-height: 140px;
    background-color: white;
    color: #c6c6c6;
    border: 1px solid #E6E6E6;
}

.her-banner{
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin: 0px auto;
    background-image:url("../images/banner.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

.content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.cont-top{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}
.cont-left{
    float: left;
    width: 500px;
}
.collect{
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
.coll{
    position: relative;
    float: left;
    text-align: center;
    line-height: 29px;
    color: #666;
    height:29px;
    margin-right: 5px;
    overflow: hidden;
    border:1px solid white;
}

.next{
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
.nt,.ntp{
    float: left;
    width:75px;
    height:29px;
    border: 1px  solid #D1D1D1;
    border-radius: 29px;
    text-align: center;
    line-height: 29px;
}
.ntp{
    float: right;
}
.title {
    font-weight: normal;
    color: #585858;
    margin: 0;
    font-size: 20px;
    text-align: left;
}
.cont-right{
    float: right;
    width: 545px;
    height:500px;
    margin-right: 90px;
}
.pic{
    float: left;
    margin-top: 35px;
    width: 545px;
    height: 60px;
    border-bottom: 1px  solid #D1D1D1;
    background-color: white;
}
.ppi{
    margin-left: 30px;
}
.f-mallUnit{
    color: #4AB344;
    font-size: 24px;
    font-weight: bold;
}
.pcc{
    color: #4AB344;
    font-size: 30px;
    font-weight: bold;
}
.pict{
    float: left;
    width: 545px;
    height: 80px;
    border-bottom: 1px  solid #D1D1D1;
    background-color: white;
}
.f-cartbuyCountWrap{
    float: left;
}
.f-proSatifySumWrap{
    height: 26px;
    margin-top: 30px;
}
.f-satifyDetail{
    height: 26px;
    text-align: right;
}
 .f-pdDetailBorder {
    border-left: 1px solid #D1D1D1;
    height: 26px;
    width: 1px;
    float: left;
    margin: 0 0 0 30px;
}
.fk-pd5MallCartCount {
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 16px;
    background-color: white;
}
.cartBuyCount {
    width: 50px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
}
.f-cartBuyCount {
    width: 45px;
    height: 30px;
    line-height: 30px;
    border-color: #EEE;
    text-align: center;
    display: inline-block;
}
.g_itext {
    border: 1px solid #8F8F8F;
}
.f-buyCountBtn {
    height: 40px;
    width: 16px;
    position: relative;
    float: left;
    margin-left: 7px;
    margin-right: 14px;
    margin-top: 8px;
}
.f-countBtn{
    border: 1px solid #EEE;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 20px;
}
.fk-pd5MallActBtns{
    margin-top: 30px;
    float: left;
    width: 100%;
    height: 42px;
    background-color: white;
}
.buttn{
    float: left;
    width: 160px;
    height: 42px;
    line-height: 42px;
    border: 1px solid  #4AB344;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    color: #4AB344;

}
.butto{
    background-color:#4AB344 ;
    color: white;
}
.cont-bot{
    width: 100%;
    text-align: center;
}
.hd{
    float: left;
    width: 100%;
    height: 60px;
    border: 1px solid #EEE;
}
.hd ul{
    float: left;
}
.hd li{
    float: left;
    width:160px;
    line-height: 57px;
    border-right: 1px solid #EEE;
}
.hd1{
    float: left;
    width: 160px;
    height: 5px;
}
.acti{
   background-color: #5FAD01;
}
.hd li.active{
    color: #5FAD01;
}
.bd1{
    display: none;
}
.sale{
    float: left;
    width:100%;
    height: 45px;
    border-color: gray;
    margin-top: 12px;
    height: 43px;
    line-height: 43px;
    background: #F3F3F3;
    color: #555;
}
.sale ul li{
    float: left;
    margin-left: 17%;
}

