
.headr{
    width: 100%;
    height: 107px;
}
.heard-con{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 107px;

}
.headr-nav{
    float: left;
    position: absolute;
    width: 600px;
    height: 107px;
    left: 25%;

}
.headr-nav li{
    float: left;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 25px;
}
.headr-nav li a{
    color: #222222;
}
.sptopfoot {
    clear: both;
    background:#ffffff;
    height: 2px;
    position: relative;
}
.spbottom {
    background:#4AB344;
    height: 2px;
    width:90px;
    position: absolute;
    top: 0;
    left: 20px;
    overflow: hidden;
    transition: all 1s;
}
.headr-right{
    position: relative;
    float: right;
    width: 154px;
    height:42px;
    margin-top: 30px;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    border: 1px solid #E6E6E6;

}
.hr-car{
    position: absolute;
    width: 300px;
    height: 140px;
    right:-1px;
    line-height: 140px;
    background-color: white;
    color: #c6c6c6;
    border: 1px solid #E6E6E6;
}

.her-banner{
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin: 0px auto;
    background-image:url("../images/banner.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

.content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.ban-boot{
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 196px;

}
.ban-zs{
    left: 3px;
    width: 390px;
    height: 196px;
    float: left;
    margin: 0 5px;
}

.recommand{
    float: left;
    width: 100%;
}
.rec-nav{
    float: left;
    margin-top: 30px;
    width: 100%;
    left: -1px;
    height: 48px;
    line-height: 48px;
    background: url("../images/rec-n.jpg");
    color: #48900F;
    border-bottom: 1px solid #48900F;
}
.rec-nav span{
    font-size: 12px;
    margin-left: 10px;
    color:#999999 ;
}

.rec-cont{
    float: left;
    width:100%;
    height: 660px;
    margin-top: 20px;
}
.rec-left{
    float: left;
    width: 320px;
    height: 660px;
}
.rec-right{
    float: left;
    width:880px;
    height: 660px;

}
.rcr{
    float: left;
    width: 270px;
    height: 330px;
    margin-left: 23px;
}
.rcr-top{
    width: 260px;
    height: 170px;
   margin-left: 10px;
    transition: all 0.5s;
}
.rcr-bot {
    width: 260px;
    height: 130px;
    margin: 0 5px;
}
.rb-top{
    width: 260px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border-bottom:1px dashed #999999;
}
.second_P{
    padding-top: 15px;
    width: 260px;
    height: 20px;
    text-align:center;
}
.fk-prop,.fk-prop-p{
    font-size: 12px;
    color: #4AB344;
}
.fk-prop-price{
    color: #4AB344;
    font-size: 18px;
}
.second_Marketprice {
    color: #767676;
    font-size: 12px;
    text-decoration: line-through;
}
.buy{
    float: left;
    width: 100%;
    margin-top: 15px;
    height: 33px;
    line-height: 33px;
    text-align: center;
}
.second_mallBuy{
    display: inline-block;
    height: 33px;
    width: 80%;
    line-height: 33px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: white;
    font-size: 16px;
    max-width: 240px;
    letter-spacing: 0;
    background-color:#4AB344 ;
}


